<h1>ジム一覧</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<p>強くあれ</p>
    <%= link_to '投稿', new_post_path %>

<div class="container">
    <div class="row">
      <div class="col-xs-3">
      <h2>サイドバー領域</h2>
      </div>
      <div class="col-xs-9">
        <table class="table">
        <h2>ジム一覧</h2>
          <tr>
            <th></th>
            <th>ジム名前</th>
            <th>感想</th>
            <th>Username</th>
          </tr>
          <% @posts.each do |post| %>
            <tr>
              <td><%= attachment_image_tag(post, :gim_image, size: "30x30", format: 'jpeg') %></td><!-- !!user.showへリンクしたい！！bookmodelに紐付けたuserのprofile_imageを表示します-->
              <td><%= link_to post.gim_name,post_path(post.id) %></td>   <!--テキストのみの表示の仕方を考える--??-->
              <td><%= post.body %></td>
              <td><%= post.user.username %></td>
            </tr>
          <% end %>
        </table>
      </div>
  </div>



